/* AddRecipe.css */

.addRecipe {
  background-color: #FFF;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.addRecipe form {
  display: flex;
  flex-direction: column;
}

.addRecipe label {
  margin-bottom: 8px;
  font-size: 16px;
  color: #333;
}

.addRecipe textarea {
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  resize: vertical; /* Allow vertical resizing of textarea */
}

.addRecipe input[type="submit"] {
  background-color: #007BFF;
  color: #FFF;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

.addRecipe input[type="submit"]:hover {
  background-color: #0056b3;
}
