/* Button.css */

.button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px; /* Adjusted margin for better spacing */
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #007BFF; /* Updated button color */
  color: #FFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3; /* Darker color on hover */
}

.button:active {
  background-color: #004080; /* Even darker color on active */
}
