.nav {
    background-color: wheat; /* Set the background color to wheat */
    padding: 10px;
    border-bottom: 1px solid #fcdebf; /* Border at the bottom */
    margin-top: 10px;
  }
  
  .nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; /* Set the display to flex */
  }
  
  .nav li {
    display: inline;
    margin-right: 10px;
  }
  
  .nav a {
    text-decoration: none;
    color: #333; /* Dark text color */
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s; /* Smooth color transition on hover */
  }

  .nav li:last-child {
    margin-right: 0; /* Remove margin from last item */
    margin-left: auto; /* Push the last item to the right */
  }
  
  .nav a:hover {
    color: #FF6347; /* Change color on hover (tomato red) */
  }
  