/* Recipes.css */

.recipes {
    max-width: 800px;
    margin: 20px auto;
}

.searchRecipe {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.searchRecipe label {
    margin-right: 10px;
    font-size: 16px;
    color: #333;
}

.searchRecipe input[type="text"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    flex-grow: 1;
}

.searchRecipe select {
    padding: 10px;
    margin-left: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
}

.searchRecipe button {
    background-color: #007BFF;
    color: #FFF;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.searchRecipe button:hover {
    background-color: #0056b3;
}

.recipesGallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Updated style for RecipeLink to make it a box with a hover effect */
.recipeLink {
    width: 48%;
    margin-bottom: 20px;
    background-color: #FFF;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: #333;
    transition: transform 0.3s ease;
    cursor: pointer;
    overflow: hidden;
}

.recipeLink:hover {
    transform: scale(1.05);
}

/* Add this style to make the recipe link clickable */
.recipeLinkClickable {
    cursor: pointer;
}
